# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/

# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example

# =========================
# ChromaDB / Vector Database
# =========================

data/vector_db/

# =========================
# Streamlit
# =========================

.streamlit/secrets.toml

# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log

Desktop.ini